@require "helpers"

text-color = #000

*
  box-sizing border-box
html, body
  height 100%
  margin 0
  padding 0
  color text-color
  font-family "futura"

.error
  color red
  font-weight bold
.warning
  color white
  background-color #d00
.warning:hover
  background-color #f00

.form
  width 90%
  max-width 600px
  margin 0 auto
.form-title
  width 100%
  margin 0
  padding-top 1rem
  text-align center
.form-input
  display block
  width 100%
  margin-bottom 10px
  padding 5px
  border-radius 5px
  border default-border
  font-size 18px
  line-height 2rem

.hidden
  display none

.modal
  position fixed
  left 0
  top 0
  z-index 100
  width 100%
  height 100%
  overflow auto
  background-color #000
  background-color rgba(0, 0, 0, .5)
.modal-content
  max-width 90%
  margin 10% auto
  padding 2rem
  border default-border
  background-color white
  border-radius 5px
  text-align center
