@require "helpers"

text-color = #000
button-color = #000
mobile-width = 480px

*
  box-sizing border-box
html, body
  height 100%
  margin 0
  padding 0
  color text-color
  font-family: 'Cabin', Helvetica, Arial, sans-serif

body
  background: url('background.jpg') no-repeat center center fixed

html
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

.panel-group .panel {
  border-radius: 0;
  box-shadow: none;
  border-color: #000;
  background: rgba(211,211,211, 0.8);
}

.toggler {
  float: right;
  display: inline-block;
}

.navbar{
    background-color: #000;
    border-color: #000;
    color: white
}

a {
  color #ff6666
}

a:link {
  text-decoration:  none;
  font-weight: bold;
}

a.orange:hover { color: #E37222; }

a:hover {
  font-weight: bold;
  color: white;
}

h1
  font-size: 60px;
  font-weight: bold;
  padding: 15 px;
  padding-top: 20px;
  font-color: #E37222;
  font-family: 'Lobster', Georgia, Times, serif;

.title
  font-size: 60px;
  text-decoration: none;
  font-weight: bold;
  padding: 15 px;
  padding-top: 20px;
  font-color: #000;
  font-family: 'Lobster', Georgia, Times, serif;

.panel-default > .panel-heading {
  padding: 0;
  border-radius: 0;
  color: #000;
  background-color: #42a543;
  border-color: #42a543;
}

.panel-title {
  font-size: 20px;
}

.panel-title > a {
  display: block;
  padding: 15px;
  text-decoration: none;
}

.more-less {
  float: right;
  color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #42a543;
}

.demo {
  padding-top: 60px;
  padding-bottom: 60px;
}


.quiet-link, .quiet-link:visited, .quiet-link:active
  color text-color
  text-decoration none
.right
  text-align right
.left
  text-align left
.center
  text-align center

.button
  margin 8px
  width auto
  min-width 20%
  padding 15px
  border-radius 5px
  border 0
  cursor pointer
  background-color #66B9BF
  font-family: 'Cabin', Helvetica, Arial, sans-serif
.button:hover
  background-color button-color-transparent-alt
  background-color button-color-transparent
.button-inline
  display inline-block
  text-align center
  margin .7rem 1rem

.error
  color red
  font-weight bold
.warning
  color white
  background-color #d00
.warning:hover
  background-color #f00

#navbar
  background-color #00000
.navbar-item-wrap
  margin 0 auto
  max-width 1080px
.navbar-item
  display block
  padding 1rem
  text-align center
.navbar-item:hover
  background-color button-color-transparent-alt
  background-color button-color-transparent
  cursor pointer


@media only screen and (max-width: mobile-width)
  .navbar-item
    display inline-block
  .title
    font-size: 28px
  h1
    font-size: 36px
  h2
    font-size: 28px

.form
  width 90%
  max-width 600px
  margin 0 auto
.form-title
  width 100%
  margin 0
  padding-top 1rem
  text-align center
.form-input
  display block
  width 100%
  margin-bottom 10px
  padding 5px
  border-radius 5px
  border default-border
  font-size 18px
  line-height 2rem

.error-message
  visibility hidden
  color red
  font-weight bold
  text-align left
  padding 1rem 0
.modal
  position fixed
  left 0
  top 0
  width 100%
  height 100%
  overflow auto
  background-color #000
  background-color rgba(0, 0, 0, .5)
.modal-content
  max-width 90%
  margin 10% auto
  padding 2rem
  border default-border
  background-color white
  border-radius 5px
  text-align center

.jumbotron {
   background: rgb(255, 255, 255); /* This is for ie8 and below */
   background: rgba(255,255,255, 0);
   color: #dc4d4d
}
